In [165]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [167]:
df = pd.read_csv('', low_memory= False, encoding='latin-1')

In [ ]:
# "Job ID","Job Status","Job Klass","Job Hardware ID","Job Operation","Job Created","Job Updated",
#"Job Duration in Seconds","Job Ticket ID","Hardware ID","Hardware Name","Hardware Image ID",
#"Hardware Solution ID","Hardware Site ID","Image ID","Image Name","Site ID","Site Name","Ticket Site Name",
#"First Site Name","Solution ID","Solution Name","Ticket ID","Ticket Site","Hardware Compute Config ID",
#"Compute Config ID","Compute Config Name","Compute Config CPU","Compute Config Memory","Compute Config Disk",
#"Compute Config SKU"

In [ ]:
#ticket site, site name, solution name, hardware name/id, job created (in years/months)
#df_year_2021 = df_main.loc[(df_main['Job Created'] <= "2022-01-01 00:00:00.000000") & (df_main['Job Created'] >= "2021-01-01 00:00:00.000000")]

In [ ]:
df_new = df[[ 'Job ID','Hardware ID', 'Hardware Name', 'Solution Name', 'Ticket Site',' First Site Name', 'Job Created']]
df_new

In [251]:

yearly_data = {}

start_year = 2018
end_year = 2022

for year in range(start_year, end_year + 1):
    monthly_data = {}
    
    for month in range(1, 13):
        monthstart = f"{year}-{month:02d}-01"
        monthend = f"{year}-{month + 1:02d}-01" if month < 12 else f"{year + 1}-01-01"
        
        filtered_df = df_new.loc[(df_new['Job Created'] >= monthstart) & (df_new['Job Created'] < monthend)]
        monthly_data[f'df_new_{year}_{month:02d}'] = filtered_df
    
    
    yearly_data[year] = monthly_data

years = [2018, 2019, 2020, 2021, 2022]
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']


for year in years:
    for month in months:
        variable_name = f'df{year}{month}'
        length = len(yearly_data[year][f'df_new_{year}_{month}'])
        exec(f"{variable_name} = {length}")

In [ ]:

numberofjobspermonth2018 = [df2018j, df2018f, df2018m, df2018a, df2018ma, df2018ju, df2018jy, df2018au, df2018s, df2018o, df2018n, df2018d]
yearly_index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

yearly_df = pd.DataFrame({'Number of Jobs' : numberofjobspermonth2018}, index=yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per month, 2018')

In [ ]:
numberofjobspermonth2019 = [df2019j, df2019f, df2019m, df2019a, df2019ma, df2019ju, df2019jy, df2019au, df2019s, df2019o, df2019n, df2019d]
yearly_index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

yearly_df = pd.DataFrame({'Number of Jobs' : numberofjobspermonth2019}, index=yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per month, 2019')

In [ ]:
numberofjobspermonth2020 = [df2020j, df2020f, df2020m, df2020a, df2020ma, df2020ju, df2020jy, df2020au, df2020s, df2020o, df2020n, df2020d]
yearly_index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

yearly_df = pd.DataFrame({'Number of Jobs' : numberofjobspermonth2020}, index=yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per month, 2020')

In [ ]:
numberofjobspermonth2021 = [df2021j, df2021f, df2021m, df2021a, df2021ma, df2021ju, df2021jy, df2021au, df2021s, df2021o, df2021n, df2021d]
yearly_index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

yearly_df = pd.DataFrame({'Number of Jobs' : numberofjobspermonth2021}, index=yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per month, 2021')

In [ ]:
numberofjobspermonth2022 = [df2022j, df2022f, df2022m, df2022a, df2022ma, df2022ju, df2022jy, df2022au, df2022s, df2022o, df2022n, df2022d]
yearly_index = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

yearly_df = pd.DataFrame({'Number of Jobs' : numberofjobspermonth2021}, index=yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per month, 2022')

In [25]:
jobs2018= df_new2018['Job ID'].unique()
jobsper2018 = len(jobs2018)

In [26]:
jobs2019= df_new2019['Job ID'].unique()
jobsper2019 = len(jobs2019)

In [27]:
jobs2020= df_new2020['Job ID'].unique()
jobsper2020 = len(jobs2020)

In [32]:
jobs2021= df_new2021['Job ID'].unique()
jobsper2021 = len(jobs2021)

In [33]:
jobs2022= df_new2022['Job ID'].unique()
jobsper2022 = len(jobs2022)

In [ ]:
numberofjobsperyear = [jobsper2018, jobsper2019, jobsper2020, jobsper2021, jobsper2022]
yearly_index = ['2018', '2019', '2020', '2021', '2022']

yearly_df = pd.DataFrame({'Number of Jobs' : numberofjobsperyear}, index=yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per year')

In [38]:
df3 = df['Ticket Site Name'].unique()
df3

array(['CTC-KC-III', 'STCK-25-DC01', 'CTC-LS-IV', 'CTC-KC-I', 'CTC-LS-VI',
       'SLOUGHEQUINIXLD5-DC1', 'CTC-LS-III', 'CTC-KC-II', 'CTC-KC-VIII',
       'MARK-371-FL01', 'CTC-LS-V', 'CTC-KC-VII', nan, 'WGC-20-FL01',
       'CTC-LS-II', 'CTC-KCBUILD1', 'BRISISEEKEAGLE-DC1', 'CLIENT-SITE',
       'UPPLANDS-DS1-DC02', 'BRMP-30-FL01', 'Unanderra-IT3',
       'PAN-110-DC01', 'CTC-LS-IV ', 'CTC-LS-I', 'KALR-39-FL04',
       'MLVN-35-DC01', 'BRISISEEKWLNGABA-DC1', 'BRLN-50-DC01'],
      dtype=object)

In [41]:
df_ticketsite1 = df[(df['Ticket Site Name']=='CTC-KC-III')]
df_ticketsite2 = df[(df['Ticket Site Name']=='STCK-25-DC01')]
df_ticketsite3 = df[(df['Ticket Site Name']=='CTC-LS-IV')]
df_ticketsite4 = df[(df['Ticket Site Name']=='CTC-KC-I')]
df_ticketsite5 = df[(df['Ticket Site Name']=='CTC-LS-VI')]
df_ticketsite6 = df[(df['Ticket Site Name']=='SLOUGHEQUINIXLD5-DC1')]
df_ticketsite7 = df[(df['Ticket Site Name']=='CTC-LS-III')]
df_ticketsite8 = df[(df['Ticket Site Name']=='CTC-KC-II')]
df_ticketsite9 = df[(df['Ticket Site Name']=='CTC-KC-VIII')]
df_ticketsite10 = df[(df['Ticket Site Name']=='MARK-371-FL01')]
ts1 = len(df_ticketsite1)
ts2 = len(df_ticketsite2)
ts3 = len(df_ticketsite3)
ts4 = len(df_ticketsite4)
ts5 = len(df_ticketsite5)
ts6 = len(df_ticketsite6)
ts7 = len(df_ticketsite7)
ts8 = len(df_ticketsite8)
ts9 = len(df_ticketsite9)
ts10 = len(df_ticketsite10)

In [ ]:
numberofjobsatgivendcen = [ts1, ts2, ts3, ts4, ts5, ts6, ts7, ts8, ts9, ts10]
yearly_index = ['CTC-KC-III', 'STCK-25-DC01', 'CTC-LS-IV', 'CTC-KC-I', 'CTC-LS-VI',
       'SLOUGHEQUINIXLD5-DC1', 'CTC-LS-III', 'CTC-KC-II', 'CTC-KC-VIII',
       'MARK-371-FL01']

yearly_df = pd.DataFrame({'Number requested' : numberofjobsatgivendcen}, index = yearly_index)

ax = yearly_df.plot.bar(rot=0, title = 'Amount of servers requested per center total')

In [ ]:

successes_2022_df = df_new2022.loc[df_new2022['Site Name'] == 'CTC-KC-III']
successes_2022_df_values = successes_2022_df.value_counts(['First Site Name'])

# Plotting the data to show the values
successes_2022_df.value_counts(['First Site Name']).sort_values().plot(kind='barh', title='Amount of servers from a specific center')

In [ ]:
len(df)

In [ ]:
df['Solution Name'].unique()

In [ ]:
df['Compute Config CPU'].unique()

In [ ]:
df['Hardware Name'].unique()
#unique server names