In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os
import tensorflow as tf
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = pd.read_csv('/content/drive/MyDrive/oracle/ClosedStack_data_Virtual.csv', low_memory= False, encoding='latin-1')

In [4]:
df_new = df[[ 'Job ID','Hardware ID', 'Hardware Name', 'Solution ID', 'Ticket Site','Site Name', 'Job Created']]
df_filtered1 = df_new.dropna(subset=['Job ID', 'Job Created', 'Solution ID']).copy()
df_filtered1.loc[:, 'Job Created'] = pd.to_datetime(df_filtered1['Job Created']).dt.strftime('%Y-%m-%d')

In [17]:
data = {'Date': ['2019-01-01', '2019-01-07', '2019-01-14', '2019-01-21', '2019-01-28', '2019-02-04','2019-02-11', '2019-02-18', '2019-02-25','2019-03-04', '2019-03-11', '2019-03-18', '2019-03-25', '2019-04-01', '2019-04-07', '2019-04-14', '2019-04-21',
                 '2019-04-28', '2019-05-05', '2019-05-12','2019-05-19','2019-05-26','2019-06-02','2019-06-09','2019-06-16','2019-06-23','2019-06-30',
                 '2019-07-07','2019-07-14','2019-07-21','2019-07-28','2019-08-04','2019-08-11','2019-08-18','2019-08-25','2019-09-01','2019-09-08','2019-09-15','2019-09-22','2019-09-29','2019-10-06','2019-10-13','2019-10-20','2019-10-27','2019-11-03',
                 '2019-11-10','2019-11-17','2019-11-24','2019-12-01','2019-12-08','2019-12-15','2019-12-22','2019-12-29', '2020-01-05', '2020-01-12', '2020-01-19', '2019-01-26', '2020-02-02','2020-02-09', '2020-02-16', '2020-02-23',
                 '2020-03-01', '2020-03-08', '2020-03-15','2020-03-22', '2020-03-29', '2020-04-05', '2020-04-12', '2020-04-19', '2020-04-26', '2020-05-03', '2020-05-10', '2020-05-17', '2020-05-24', '2020-05-31', '2020-06-07',
                 '2020-06-14', '2020-06-21', '2020-06-28', '2020-07-05', '2020-07-12', '2020-07-19', '2020-07-26', '2020-08-02', '2020-08-09', '2020-08-16', '2020-08-23', '2020-08-30', '2020-09-06', '2020-09-13', '2020-09-20', '2020-09-27',
                 '2020-10-04', '2020-10-11', '2020-10-18','2020-10-25', '2020-11-01', '2020-11-08', '2020-11-15', '2020-11-22', '2020-11-29', '2020-12-06', '2020-12-13', '2020-12-20', '2020-12-27'],
                      'Servers': [521, 1683, 2037, 974, 966, 1541, 1085, 1505, 1193, 1407, 878, 835, 593, 1184, 1265, 831, 686, 797, 1030, 1280, 1074, 618, 387, 446, 636, 548, 472, 863, 557, 904, 640, 655, 832, 606, 859,
                                  269, 839, 421, 400, 307, 535, 358, 467, 442, 324, 555, 490, 282, 357, 458, 359, 53, 142, 758,  521, 455, 438, 326, 403, 516, 443, 478, 305, 563, 340, 413, 675, 485, 180, 165, 143, 237, 295, 320, 439,
                                  448, 435, 140, 184, 326, 407, 533, 332, 244, 424, 439, 350, 226, 378, 308, 239, 303, 321, 416, 166, 357, 241, 412, 343, 90, 242, 373, 352, 181, 73]}



df1 = pd.DataFrame(data)

print(df1)

           Date  Servers
0    2019-01-01      521
1    2019-01-07     1683
2    2019-01-14     2037
3    2019-01-21      974
4    2019-01-28      966
..          ...      ...
100  2020-11-29      242
101  2020-12-06      373
102  2020-12-13      352
103  2020-12-20      181
104  2020-12-27       73

[105 rows x 2 columns]

In [27]:
pd.to_datetime(df1['Date']).dt.strftime('%Y-%m-%d')

0      2019-01-01
1      2019-01-07
2      2019-01-14
3      2019-01-21
4      2019-01-28
          ...
100    2020-11-29
101    2020-12-06
102    2020-12-13
103    2020-12-20
104    2020-12-27
Name: Date, Length: 105, dtype: object

In [ ]:
"Job ID","Job Status","Job Klass","Job Hardware ID","Job Operation","Job Created",
"Job Updated","Job Duration in Seconds","Job Ticket ID","Hardware ID","Hardware Name",
"Hardware Image ID","Hardware Solution ID","Hardware Site ID","Image ID","Image Name","Site ID",
"Site Name","Ticket Site Name","First Site Name","Solution ID","Solution Name","Ticket ID","Ticket Site"
,"Hardware Compute Config ID","Compute Config ID","Compute Config Name","Compute Config CPU","Compute Config Memory"
,"Compute Config Disk","Compute Config SKU"

#first site name, job created
#        1     2     3   4   5     6   7     8    9    10  11    12
#2019 : 5881 5409 3928 4392 4373 2018 3137 3250 2002 1939 1748 1299
#2020 : 2242 1688 1769 1817 1013 1496 1748 1521 1273 1377 1146 1159
#2021 : 1801 2211 1394 1169 1021 962 879 1163 1013 1111 752 359
#2022 : 839 1196 1223 1063 1159 1336 1094 999 1078 1269 1067 621


#2019:
# 1/1  1/7  1/14  1/21  1/28
# 521  1683  2037   974   966
# 2/4   2/11  2/18   2/25
# 1541  1085   1505  1193
# 3/4   3/11  3/18  3/25
# 1407  878   835   593
# 4/1  4/7   4/14  4/21  4/28
# 1184 1265  831   686   797
# 5/5  5/12  5/19  5/26
# 1030  1280  1074  618
# 6/2  6/9  6/16 6/23  6/30
# 387  446  636  548   472
# 7/7  7/14 7/21 7/28
# 863   557 904 640
# 8/4 8/11 8/18 8/25
# 655 832  606  859
# 9/1 9/8 9/15 9/22 9/29
# 269 839 421   400 307
# 10/6 10/13 10/20 10/27
# 535   358   467   442
# 11/3 11/10 11/17 11/24
# 324   555   490   282
# 12/1 12/8  12/15  12/22 12/29
# 357   458   359    53    142            TOTAL :39376


#2020:
# 1/5 1/12 1/19 1/26
# 758  521 455  438
# 2/2 2/9 2/16 2/23
# 326 403 516 443
# 3/1 3/8 3/15 3/22 3/29
# 478 305 563  340  413
# 4/5 4/12 4/19 4/26
# 675 485 180 165
# 5/3 5/10 5/17 5/24 5/31
# 143 237  295  320  439
# 6/7 6/14 6/21 6/28
# 448  435  140  184
# 7/5 7/12 7/19 7/26
# 326 407 533  332
# 8/2 8/9 8/16 8/23 8/30
# 244 424  439  350 226
# 9/6 9/13 9/20 9/27
# 378  308  239  303
# 10/4 10/11 10/18 10/25
# 321  416   166   357
# 11/1 11/8/ 11/15 11/22 11/29
# 241  412    343   90    242
# 12/6 12/13 12/20 12/27
# 373  352    181    73              TOTAL : 18249

In [36]:
df_new2021 = df_new.loc[(df_new['Job Created'] <= "2021-01-02 00:00:00.000000") & (df_new['Job Created'] >= "2020-01-01 00:00:00.000000")]

df_new2021_1 = df_new.loc[(df_new['Job Created'] <= "2021-01-10 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-03 00:00:00.000000")]
df_new2021_2 = df_new.loc[(df_new['Job Created'] <= "2021-01-17 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-10 00:00:00.000000")]
df_new2021_3 = df_new.loc[(df_new['Job Created'] <= "2021-01-24 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-17 00:00:00.000000")]
df_new2021_4 = df_new.loc[(df_new['Job Created'] <= "2021-01-31 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-24 00:00:00.000000")]
df_new2021_5 = df_new.loc[(df_new['Job Created'] <= "2021-02-07 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-31 00:00:00.000000")]

df_new2021_6 = df_new.loc[(df_new['Job Created'] <= "2021-02-14 00:00:00.000000") & (df_new['Job Created'] >= "2021-02-07 00:00:00.000000")]
df_new2021_7 = df_new.loc[(df_new['Job Created'] <= "2021-02-21 00:00:00.000000") & (df_new['Job Created'] >= "2021-02-14 00:00:00.000000")]
df_new2021_8 = df_new.loc[(df_new['Job Created'] <= "2021-02-28 00:00:00.000000") & (df_new['Job Created'] >= "2021-02-21 00:00:00.000000")]
df_new2021_9 = df_new.loc[(df_new['Job Created'] <= "2021-03-07 00:00:00.000000") & (df_new['Job Created'] >= "2021-02-28 00:00:00.000000")]

df_new2021_10 = df_new.loc[(df_new['Job Created'] <= "2021-03-14 00:00:00.000000") & (df_new['Job Created'] >= "2021-03-07 00:00:00.000000")]
df_new2021_11 = df_new.loc[(df_new['Job Created'] <= "2021-03-21 00:00:00.000000") & (df_new['Job Created'] >= "2021-03-14 00:00:00.000000")]
df_new2021_12 = df_new.loc[(df_new['Job Created'] <= "2021-03-28 00:00:00.000000") & (df_new['Job Created'] >= "2021-03-21 00:00:00.000000")]
df_new2021_13 = df_new.loc[(df_new['Job Created'] <= "2021-04-04 00:00:00.000000") & (df_new['Job Created'] >= "2021-03-28 00:00:00.000000")]

df_new2021_14 = df_new.loc[(df_new['Job Created'] <= "2021-04-11 00:00:00.000000") & (df_new['Job Created'] >= "2021-04-04 00:00:00.000000")]
df_new2021_15 = df_new.loc[(df_new['Job Created'] <= "2021-04-18 00:00:00.000000") & (df_new['Job Created'] >= "2021-04-11 00:00:00.000000")]
df_new2021_16 = df_new.loc[(df_new['Job Created'] <= "2021-04-25 00:00:00.000000") & (df_new['Job Created'] >= "2021-04-18 00:00:00.000000")]
df_new2021_17 = df_new.loc[(df_new['Job Created'] <= "2021-05-02 00:00:00.000000") & (df_new['Job Created'] >= "2021-04-25 00:00:00.000000")]

df_new2021_18 = df_new.loc[(df_new['Job Created'] <= "2021-05-09 00:00:00.000000") & (df_new['Job Created'] >= "2021-05-02 00:00:00.000000")]
df_new2021_19 = df_new.loc[(df_new['Job Created'] <= "2021-05-16 00:00:00.000000") & (df_new['Job Created'] >= "2021-05-09 00:00:00.000000")]
df_new2021_20 = df_new.loc[(df_new['Job Created'] <= "2021-05-23 00:00:00.000000") & (df_new['Job Created'] >= "2021-05-16 00:00:00.000000")]
df_new2021_21 = df_new.loc[(df_new['Job Created'] <= "2021-05-30 00:00:00.000000") & (df_new['Job Created'] >= "2021-05-23 00:00:00.000000")]
df_new2021_22 = df_new.loc[(df_new['Job Created'] <= "2021-06-06 00:00:00.000000") & (df_new['Job Created'] >= "2021-05-30 00:00:00.000000")]

df_new2021_23 = df_new.loc[(df_new['Job Created'] <= "2021-06-13 00:00:00.000000") & (df_new['Job Created'] >= "2021-06-06 00:00:00.000000")]
df_new2021_24 = df_new.loc[(df_new['Job Created'] <= "2021-06-20 00:00:00.000000") & (df_new['Job Created'] >= "2021-06-13 00:00:00.000000")]
df_new2021_25 = df_new.loc[(df_new['Job Created'] <= "2021-06-27 00:00:00.000000") & (df_new['Job Created'] >= "2021-06-20 00:00:00.000000")]
df_new2021_26 = df_new.loc[(df_new['Job Created'] <= "2021-07-04 00:00:00.000000") & (df_new['Job Created'] >= "2021-06-27 00:00:00.000000")]

df_new2021_27 = df_new.loc[(df_new['Job Created'] <= "2021-07-11 00:00:00.000000") & (df_new['Job Created'] >= "2021-07-04 00:00:00.000000")]
df_new2021_28 = df_new.loc[(df_new['Job Created'] <= "2021-07-18 00:00:00.000000") & (df_new['Job Created'] >= "2021-07-11 00:00:00.000000")]
df_new2021_29 = df_new.loc[(df_new['Job Created'] <= "2021-07-25 00:00:00.000000") & (df_new['Job Created'] >= "2021-07-18 00:00:00.000000")]
df_new2021_30 = df_new.loc[(df_new['Job Created'] <= "2021-08-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-07-25 00:00:00.000000")]

df_new2021_31 = df_new.loc[(df_new['Job Created'] <= "2021-08-08 00:00:00.000000") & (df_new['Job Created'] >= "2021-08-01 00:00:00.000000")]
df_new2021_32 = df_new.loc[(df_new['Job Created'] <= "2021-08-15 00:00:00.000000") & (df_new['Job Created'] >= "2021-08-08 00:00:00.000000")]
df_new2021_33 = df_new.loc[(df_new['Job Created'] <= "2021-08-22 00:00:00.000000") & (df_new['Job Created'] >= "2021-08-15 00:00:00.000000")]
df_new2021_34 = df_new.loc[(df_new['Job Created'] <= "2021-08-29 00:00:00.000000") & (df_new['Job Created'] >= "2021-08-22 00:00:00.000000")]
df_new2021_35 = df_new.loc[(df_new['Job Created'] <= "2021-09-05 00:00:00.000000") & (df_new['Job Created'] >= "2021-08-29 00:00:00.000000")]

df_new2021_36 = df_new.loc[(df_new['Job Created'] <= "2021-09-12 00:00:00.000000") & (df_new['Job Created'] >= "2021-09-05 00:00:00.000000")]
df_new2021_37 = df_new.loc[(df_new['Job Created'] <= "2021-09-19 00:00:00.000000") & (df_new['Job Created'] >= "2021-09-12 00:00:00.000000")]
df_new2021_38 = df_new.loc[(df_new['Job Created'] <= "2021-09-26 00:00:00.000000") & (df_new['Job Created'] >= "2021-09-19 00:00:00.000000")]
df_new2021_39 = df_new.loc[(df_new['Job Created'] <= "2021-10-03 00:00:00.000000") & (df_new['Job Created'] >= "2021-09-26 00:00:00.000000")]

df_new2021_40 = df_new.loc[(df_new['Job Created'] <= "2021-10-10 00:00:00.000000") & (df_new['Job Created'] >= "2021-10-03 00:00:00.000000")]
df_new2021_41 = df_new.loc[(df_new['Job Created'] <= "2021-10-17 00:00:00.000000") & (df_new['Job Created'] >= "2021-10-10 00:00:00.000000")]
df_new2021_42 = df_new.loc[(df_new['Job Created'] <= "2021-10-24 00:00:00.000000") & (df_new['Job Created'] >= "2021-10-17 00:00:00.000000")]
df_new2021_43 = df_new.loc[(df_new['Job Created'] <= "2021-10-31 00:00:00.000000") & (df_new['Job Created'] >= "2021-10-24 00:00:00.000000")]
df_new2021_44 = df_new.loc[(df_new['Job Created'] <= "2021-11-07 00:00:00.000000") & (df_new['Job Created'] >= "2021-10-31 00:00:00.000000")]

df_new2021_45 = df_new.loc[(df_new['Job Created'] <= "2021-11-14 00:00:00.000000") & (df_new['Job Created'] >= "2021-11-07 00:00:00.000000")]
df_new2021_46 = df_new.loc[(df_new['Job Created'] <= "2021-11-21 00:00:00.000000") & (df_new['Job Created'] >= "2021-11-14 00:00:00.000000")]
df_new2021_47 = df_new.loc[(df_new['Job Created'] <= "2021-11-28 00:00:00.000000") & (df_new['Job Created'] >= "2021-11-21 00:00:00.000000")]
df_new2021_48 = df_new.loc[(df_new['Job Created'] <= "2021-12-05 00:00:00.000000") & (df_new['Job Created'] >= "2021-11-28 00:00:00.000000")]

df_new2021_49 = df_new.loc[(df_new['Job Created'] <= "2021-12-12 00:00:00.000000") & (df_new['Job Created'] >= "2021-12-05 00:00:00.000000")]
df_new2021_50 = df_new.loc[(df_new['Job Created'] <= "2021-12-19 00:00:00.000000") & (df_new['Job Created'] >= "2021-12-12 00:00:00.000000")]
df_new2021_51 = df_new.loc[(df_new['Job Created'] <= "2021-12-26 00:00:00.000000") & (df_new['Job Created'] >= "2021-12-19 00:00:00.000000")]
df_new2021_52 = df_new.loc[(df_new['Job Created'] <= "2022-01-02 00:00:00.000000") & (df_new['Job Created'] >= "2021-12-26 00:00:00.000000")]


df202101 = len(df_new2021_1)
df202102 = len(df_new2021_2)
df202103 = len(df_new2021_3)
df202104 = len(df_new2021_4)
df202105 = len(df_new2021_5)
df202106 = len(df_new2021_6)
df202107 = len(df_new2021_7)
df202108 = len(df_new2021_8)
df202109 = len(df_new2021_9)
df202110 = len(df_new2021_10)
df202111 = len(df_new2021_11)
df202112 = len(df_new2021_12)
df202113 = len(df_new2021_13)
df202114 = len(df_new2021_14)
df202115 = len(df_new2021_15)
df202116 = len(df_new2021_16)
df202117 = len(df_new2021_17)
df202118 = len(df_new2021_18)
df202119 = len(df_new2021_19)
df202120 = len(df_new2021_20)
df202121 = len(df_new2021_21)
df202122 = len(df_new2021_22)
df202123 = len(df_new2021_23)
df202124 = len(df_new2021_24)
df202125 = len(df_new2021_25)
df202126 = len(df_new2021_26)
df202127 = len(df_new2021_27)
df202128 = len(df_new2021_28)
df202129 = len(df_new2021_29)
df202130 = len(df_new2021_30)
df202131 = len(df_new2021_31)
df202132 = len(df_new2021_32)
df202133 = len(df_new2021_33)
df202134 = len(df_new2021_34)
df202135 = len(df_new2021_35)
df202136 = len(df_new2021_36)
df202137 = len(df_new2021_37)
df202138 = len(df_new2021_38)
df202139 = len(df_new2021_39)
df202140 = len(df_new2021_40)
df202141 = len(df_new2021_41)
df202142 = len(df_new2021_42)
df202143 = len(df_new2021_43)
df202144 = len(df_new2021_44)
df202145 = len(df_new2021_45)
df202146 = len(df_new2021_46)
df202147 = len(df_new2021_47)
df202148 = len(df_new2021_48)
df202149 = len(df_new2021_49)
df202150 = len(df_new2021_50)
df202151 = len(df_new2021_51)
df202152 = len(df_new2021_52)

print(df202101, df202102, df202103, df202104, df202105, df202106, df202107, df202108, df202109, df202110, df202111, df202112, df202113, df202114, df202115, df202116, df202117, df202118, df202119, df202120, df202121, df202122, df202123, df202124, df202125, df202126, df202127, df202128, df202129, df202130, df202131, df202132, df202133, df202134, df202135, df202136, df202137, df202138, df202139, df202140, df202141, df202142, df202143, df202144, df202145, df202146, df202147, df202148, df202149, df202150, df202151, df202152)

279 387 523 592 342 396 1116 375 340 395 254 325 215 198 405 241 190 249 201 286 282 265 185 231 188 219 217 125 314 100 216 320 179 360 167 220 261 245 245 202 461 222 189 232 210 147 47 153 120 131 57 14

In [ ]:
df_new2021 = df_new.loc[(df_new['Job Created'] <= "2022-01-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-01 00:00:00.000000")]

df_new2021_1 = df_new.loc[(df_new['Job Created'] <= "2021-02-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-01-01 00:00:00.000000")]
df_new2021_2 = df_new.loc[(df_new['Job Created'] <= "2021-03-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-02-01 00:00:00.000000")]
df_new2021_3 = df_new.loc[(df_new['Job Created'] <= "2021-04-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-03-01 00:00:00.000000")]
df_new2021_4 = df_new.loc[(df_new['Job Created'] <= "2021-05-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-04-01 00:00:00.000000")]
df_new2021_5 = df_new.loc[(df_new['Job Created'] <= "2021-06-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-05-01 00:00:00.000000")]
df_new2021_6 = df_new.loc[(df_new['Job Created'] <= "2021-07-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-06-01 00:00:00.000000")]
df_new2021_7 = df_new.loc[(df_new['Job Created'] <= "2021-08-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-07-01 00:00:00.000000")]
df_new2021_8 = df_new.loc[(df_new['Job Created'] <= "2021-09-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-08-01 00:00:00.000000")]
df_new2021_9 = df_new.loc[(df_new['Job Created'] <= "2021-10-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-09-01 00:00:00.000000")]
df_new2021_10 = df_new.loc[(df_new['Job Created'] <= "2021-11-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-10-01 00:00:00.000000")]
df_new2021_11 = df_new.loc[(df_new['Job Created'] <= "2021-12-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-11-01 00:00:00.000000")]
df_new2021_12 = df_new.loc[(df_new['Job Created'] <= "2022-01-01 00:00:00.000000") & (df_new['Job Created'] >= "2021-12-01 00:00:00.000000")]

df2021j = len(df_new2021_1)
df2021f = len(df_new2021_2)
df2021m = len(df_new2021_3)
df2021a = len(df_new2021_4)
df2021ma = len(df_new2021_5)
df2021ju = len(df_new2021_6)
df2021jy = len(df_new2021_7)
df2021au = len(df_new2021_8)
df2021s = len(df_new2021_9)
df2021o = len(df_new2021_10)
df2021n = len(df_new2021_11)
df2021d = len(df_new2021_12)
print(df2021j, df2021f, df2021m, df2021a, df2021ma, df2021ju, df2021jy, df2021au, df2021s, df2021o, df2021n, df2021d)

1801 2211 1394 1169 1021 962 879 1163 1013 1111 752 359

In [ ]:
df_new2022 = df_new.loc[(df_new['Job Created'] <= "2023-01-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-01-01 00:00:00.000000")]

df_new2022_1 = df_new.loc[(df_new['Job Created'] <= "2022-02-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-01-01 00:00:00.000000")]
df_new2022_2 = df_new.loc[(df_new['Job Created'] <= "2022-03-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-02-01 00:00:00.000000")]
df_new2022_3 = df_new.loc[(df_new['Job Created'] <= "2022-04-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-03-01 00:00:00.000000")]
df_new2022_4 = df_new.loc[(df_new['Job Created'] <= "2022-05-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-04-01 00:00:00.000000")]
df_new2022_5 = df_new.loc[(df_new['Job Created'] <= "2022-06-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-05-01 00:00:00.000000")]
df_new2022_6 = df_new.loc[(df_new['Job Created'] <= "2022-07-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-06-01 00:00:00.000000")]
df_new2022_7 = df_new.loc[(df_new['Job Created'] <= "2022-08-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-07-01 00:00:00.000000")]
df_new2022_8 = df_new.loc[(df_new['Job Created'] <= "2022-09-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-08-01 00:00:00.000000")]
df_new2022_9 = df_new.loc[(df_new['Job Created'] <= "2022-10-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-09-01 00:00:00.000000")]
df_new2022_10 = df_new.loc[(df_new['Job Created'] <= "2022-11-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-10-01 00:00:00.000000")]
df_new2022_11 = df_new.loc[(df_new['Job Created'] <= "2022-12-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-11-01 00:00:00.000000")]
df_new2022_12 = df_new.loc[(df_new['Job Created'] <= "2023-01-01 00:00:00.000000") & (df_new['Job Created'] >= "2022-12-01 00:00:00.000000")]

df2022j = len(df_new2022_1)
df2022f = len(df_new2022_2)
df2022m = len(df_new2022_3)
df2022a = len(df_new2022_4)
df2022ma = len(df_new2022_5)
df2022ju = len(df_new2022_6)
df2022jy = len(df_new2022_7)
df2022au = len(df_new2022_8)
df2022s = len(df_new2022_9)
df2022o = len(df_new2022_10)
df2022n = len(df_new2022_11)
df2022d = len(df_new2022_12)
print(df2022j, df2022f, df2022m, df2022a, df2022ma, df2022ju, df2022jy, df2022au, df2022s, df2022o, df2022n, df2022d)

839 1196 1223 1063 1159 1336 1094 999 1078 1269 1067 621

In [28]:
def df_to_X_y(df1, window_size=5):

  X = []
  y = []

  for i in range(len(df1)-window_size):
    row = [[a] for a in df1[i:i+window_size]]
    X.append(row)
    label = df1[i+window_size]
    y.append(label)

  return np.array(X), np.array(y)

In [29]:
Servers = df1['Servers']
WINDOW_SIZE = 5
X1, y1 = df_to_X_y(Servers, WINDOW_SIZE)
X1.shape, y1.shape

((100, 5, 1), (100,))

In [30]:
num_total_samples = len(X1)
num_train_samples = int(0.6 * num_total_samples)
num_val_samples = int(0.2 * num_total_samples)

X_train1, y_train1 = X1[:num_train_samples], y1[:num_train_samples]
X_val1, y_val1 = X1[num_train_samples:num_train_samples + num_val_samples], y1[num_train_samples:num_train_samples + num_val_samples]
X_test1, y_test1 = X1[num_train_samples + num_val_samples:], y1[num_train_samples + num_val_samples:]

print(X_train1.shape, y_train1.shape, X_val1.shape, y_val1.shape, X_test1.shape, y_test1.shape)

(60, 5, 1) (60,) (20, 5, 1) (20,) (20, 5, 1) (20,)

In [31]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

model1 = Sequential()
model1.add(InputLayer((5, 1)))
model1.add(LSTM(64))
model1.add(Dense(8, 'relu'))
model1.add(Dense(1, 'linear'))
model1.summary()

#model1 = Sequential()
#model1.add(LSTM(64, input_shape=(5, 1)))
#model1.add(Dense(1, activation='linear'))

#model1.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.001), metrics=[RootMeanSquaredError()])

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 64)                16896

 dense_4 (Dense)             (None, 8)                 520

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 17425 (68.07 KB)
Trainable params: 17425 (68.07 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [32]:
cp1 = ModelCheckpoint('model1/', save_best_only=True)
model1.compile(loss=MeanSquaredError(), optimizer=Adam(learning_rate=0.0001), metrics=[RootMeanSquaredError()])

In [33]:
model1.fit(X_train1, y_train1, validation_data=(X_val1, y_val1), epochs=10, callbacks=[cp1])

Epoch 1/10
2/2 [==============================] - 6s 4s/step - loss: 531367.1250 - root_mean_squared_error: 728.9493 - val_loss: 136738.5000 - val_root_mean_squared_error: 369.7817
Epoch 2/10
2/2 [==============================] - 5s 5s/step - loss: 531331.0625 - root_mean_squared_error: 728.9246 - val_loss: 136724.5781 - val_root_mean_squared_error: 369.7629
Epoch 3/10
2/2 [==============================] - 4s 4s/step - loss: 531297.7500 - root_mean_squared_error: 728.9017 - val_loss: 136711.2656 - val_root_mean_squared_error: 369.7449
Epoch 4/10
2/2 [==============================] - 4s 4s/step - loss: 531263.8125 - root_mean_squared_error: 728.8785 - val_loss: 136699.0156 - val_root_mean_squared_error: 369.7283
Epoch 5/10
2/2 [==============================] - 4s 4s/step - loss: 531229.8125 - root_mean_squared_error: 728.8552 - val_loss: 136687.4062 - val_root_mean_squared_error: 369.7126
Epoch 6/10
2/2 [==============================] - 4s 4s/step - loss: 531201.1875 - root_mean_squared_error: 728.8355 - val_loss: 136675.8906 - val_root_mean_squared_error: 369.6970
Epoch 7/10
2/2 [==============================] - 3s 3s/step - loss: 531172.2500 - root_mean_squared_error: 728.8157 - val_loss: 136664.5938 - val_root_mean_squared_error: 369.6817
Epoch 8/10
2/2 [==============================] - 4s 4s/step - loss: 531143.7500 - root_mean_squared_error: 728.7961 - val_loss: 136653.4531 - val_root_mean_squared_error: 369.6667
Epoch 9/10
2/2 [==============================] - 5s 5s/step - loss: 531115.8750 - root_mean_squared_error: 728.7770 - val_loss: 136642.5156 - val_root_mean_squared_error: 369.6519
Epoch 10/10
2/2 [==============================] - 4s 3s/step - loss: 531093.6875 - root_mean_squared_error: 728.7618 - val_loss: 136632.0469 - val_root_mean_squared_error: 369.6377

In [34]:
from tensorflow.keras.models import load_model
model1 = load_model('model1/')

In [35]:
train_predictions = model1.predict(X_train1).flatten()
train_results = pd.DataFrame(data={'Train Predictions':train_predictions, 'Actuals':y_train1})
train_results

2/2 [==============================] - 0s 8ms/step

    Train Predictions  Actuals
0           -0.243793     1541
1           -0.236524     1085
2           -0.241680     1505
3           -0.236810     1193
4           -0.240092     1407
5           -0.237674      878
6           -0.245727      835
7           -0.246745      593
8           -0.256747     1184
9           -0.240226     1265
10          -0.239184      831
11          -0.246880      686
12          -0.251102      797
13          -0.247741     1030
14          -0.242592     1280
15          -0.239008     1074
16          -0.241851      618
17          -0.254404      387
18          -0.280418      446
19          -0.272748      636
20          -0.252796      548
21          -0.261310      472
22          -0.269785      863
23          -0.246068      557
24          -0.260446      904
25          -0.245113      640
26          -0.252707      655
27          -0.252143      832
28          -0.246825      606
29          -0.255476      859
30          -0.246153      269
31          -0.296354      839
32          -0.246673      421
33          -0.276226      400
34          -0.278634      307
35          -0.291124      535
36          -0.262449      358
37          -0.284280      467
38          -0.270243      442
39          -0.273375      324
40          -0.288792      555
41          -0.260357      490
42          -0.267704      282
43          -0.294476      357
44          -0.284336      458
45          -0.271333      359
46          -0.284108       53
47          -0.265774      142
48          -0.340505      758
49          -0.274686      521
50          -0.297140      455
51          -0.302815      438
52          -0.275732      326
53          -0.288496      403
54          -0.278165      516
55          -0.264645      443
56          -0.273282      478
57          -0.269016      305
58          -0.291388      563
59          -0.259498      340